* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
  }
  
  
  
  .navbar {
    box-shadow: 3px 3px 22px 2px black;
  }
  .navbar img {
    height: 70px;
    width: auto;
    box-shadow: 3px 3px 5px 3px black;
  }
  .navbar .navbar-nav .nav-link {
    text-shadow: 1px 1px 2px black;
    font-size: 20px;
  }
  article {
    min-height: 80vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper {
    width: 1000px;
    height: 500px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .wrapper .content {
    width: 100%;
  }
  
  .time {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
    height: 50px;
    width: 50px;
    background-color: orangered;
    padding: 5px 0px 0px 10px;
    border: 3px solid white;
    border-radius: 40px;
    box-shadow: 0px 0px 6px 2px black;
  }
  
  #countdown {
    font-weight: 600;
    color:black
  }
  #borderAround{
    border: 
    16px solid blue;
    padding: 15px 20px;
    border-radius: 25px;
    box-shadow: 3px 4px 4px 3px white ;
  }
  
  .content input {
    z-index: -999;
    opacity: 0;
    position: absolute;
  }
  
  .content p {
    font-size: 24px;
    color:white;
    text-align: justify;
  }
  
  .btn-wrapper {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    border-radius: 15px;
  }
  
  button {
    background:green;

    padding: 12px 16px;
    color: #cbcbcb;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .refreshbtn{
    text-decoration: none;
    margin-left: 5px;
  }
  
  button:hover {
    color: #fff;
  }
  
  button:active {
    transform: scale(0.97);
  }
  
  .correct {
    color: darkgreen;
  }
  
  .incorrect {
    color: red;
  }
  
  .incorrect__space {
    border-bottom: 2px solid #a02521;
  }
  
  .content p span {
    position: relative;
  }
  
  .content p span.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #194a50;
    opacity: 0;
    animation: blink 1s ease-in-out infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 1;
    }
  }
  
  .results {
    display: none;
    margin-inline: auto;
    border: 3px solid white;
    box-shadow: 1px 4px 10px 10px black;
    text-shadow: 1px 4px 4px black;
    background-color: orangered;
    padding: 30px 70px;
    border-radius: 50px;
  }
  
  .results.active {
    display: block;
  }
  
  .results p {
    color: #fff;
    font-size: 30px;
  }
  
  .results p span {
    font-weight: 600;
  }
  /* footer started */
  #footer {
    background: blue;
    box-shadow: 3px 3px 22px 2px black;
  }
  
  #footer h5 {
    padding-left: 10px;
    border-left: 3px solid black;
    padding-bottom: 6px;
    margin-bottom: 20px;
    margin-top: 10px;
    color:white;
  }
  
  #footer .list-unstyled p {
    color: white;
  }
  
  #footer .list-unstyled ul li {
    color:white;
  }
  
  #footer .formargin p {
    color: white;
  }
  
  #footer a {
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
  
  #footer a:hover {
    text-decoration: underline;
    padding-left: 3px;
    color: orangered;
  }
  
  /* footer ended */
  
  @media screen and (max-width: 767px) {
  
    .wrapper {
      width: 220px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 20px;
      margin-left: 70px;
    
    }
    article {
  height: 500px;
    }
    .content p {
      font-size: 10px;
  
  }
  .wrapper .content {
    width: 200px;
}
.btn-wrapper {

margin-right: 50px;
}
.results.active {
width: 100px;
margin-left: 20px;
}
.results p {
 
  font-size: 10px;
  margin-left: -auto;
}
    
  }